.color{
    color: red;
}

.color:hover{
    color: white;
}

.navBackground{
    background-color: black;
}

.imgLogo{
    max-width: 100px;
    max-height: 100px;
}

.iconMargin{
    margin: 10px;
}

.iconMargin:hover{
    color: white;
}

.iconMargin stroke:hover{
    color: white;
}

.navbar-hover-color{
    color: white;
}